{% extends "base.html" %}
{% block title %}Estadísticas de Actividades{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/estadisticas.css') }}">
{% endblock %}
{% block content %}
<!-- 3 graficos: uno de lineas para informar la cantidad de actividades por dia, otro grafico de torta que muestra total de actividades por tipo, y el tercero uno de barras que muestra 3 barras por actividades qeu empiezan en la mañana,mediodia y tarde  -->
<h1>Estadísticas de Actividades</h1>
<p>Esta página muestra las estadísticas de las actividades registradas.</p>
<section>

    <div>
        <h2>Actividades por Día</h2>
        <div id="linearchart"></div>
    </div>

    <div>
        <h2>Total de Actividades por Tipo</h2>
        <div id="piechart"></div>
    </div>
    <div>
        <h2>Actividades por Horario</h2>
        <div id="columnchart"></div>
    </div>
</section>
<a href="{{ url_for('home') }}" class="btn">Volver al Inicio</a>

{% endblock %}
{% block js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{url_for('static', filename='js/stats.js')}}"></script>
{% endblock %}

