body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 5vh;
    height: 100vh;
}

table,th,td{
    border: 1px solid;
    padding: 5px;
}
table{
    border-collapse: collapse;

}
table td, table th{
    padding: 5px;
}

img{
    width: 300px;
    height: 400px;
}