<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad - Voleyball</title>
    <link rel="stylesheet" href="../styles/modal.css">
</head>
<body>
    <a href="../list_actividad.html">Volver al listado de actividades</a>
    <a href="../index.html">Volver a la portada</a>
    <h2>Detalles de la actividad:</h2>
    <h3>Tema:</h3>
    <p>Voleyball</p>
    <h3>Descripción:</h3>
    <p>Escuela de Voleyball para niños y adultos, todos los niveles.</p>
    <h3>Fecha de inicio:</h3>
    <p>2025-04-18 10:00</p>
    <h3>Fecha de fin:</h3>
    <p>2025-05-08 12:00</p>
    <h3>Comuna:</h3>
    <p>La Serena</p>
    <h3>Sector:</h3>
    <p>Cendyr</p>
    <h3>Nombre del organizador:</h3>
    <p>Juan Stay</p>
    <h3>Fotos:</h3>
    <ul>
        <li><img src="../img/Voleyball.png" alt="Foto Voleyball" width="240px" height="320px"></li>
        <li><img src="../img/Voleyball.png" alt="Foto Voleyball 2" width="240px" height="320px"></li>
    </ul>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <img class="modal-content" id="img01">
        </div>
      
    </div>
</body>

<script src="../js/selectfoto.js"></script>
</html>