{% extends "base.html" %}
{% block title %}Actividad{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/modal.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/actividad.css')}}">
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<table id="tabla_actividad">
    <tr>
        <th>Campo</th>
        <th>Detalle</th>
    </tr>
    <tr>
        <td>Descripción</td>
        <td>{{ actividad.descripcion }}</td>
    </tr>
    <tr>
        <td>Tema</td>
        <td>
            {% for tema in actividad.temas %}
            {{ tema.tema.value }}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Fecha de inicio</td>
        <td>{{ actividad.fecha_inicio }}</td>
    </tr>
    <tr>
        <td>Fecha de fin</td>
        <td>{{ actividad.fecha_termino }}</td>
    </tr>
    <tr>
        <td>Comuna</td>
        <td>{{ actividad.comuna }}</td>
    </tr>
    <tr>
        <td>Sector</td>
        <td>{{ actividad.sector }}</td>
    </tr>
    <tr>
        <td>Nombre del organizador</td>
        <td>{{ actividad.nombre }}</td>
    </tr>
    {% if actividad.celular %}
    <tr>
        <td>Teléfono del organizador</td>
        <td>{{ actividad.celular }}</td>
    </tr>
    {% endif %}

    <tr>
        <td>Correo del organizador</td>
        <td>{{ actividad.email }}</td>
    </tr>
    {% if actividad.contacto %}
    {% for contacto in actividad.contacto %}
    <tr>
        <td>{{ contacto.tipo.value }}</td>
        <td>{{ contacto.identificador }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    <tr>
        <td>Fotos</td>
        <td>
            {% if actividad.fotos %}
            <table>
                <tr>
                    {% for foto in actividad.fotos[:5] %}

                    <td>
                        <img id="{{foto.id}}" src="{{ foto.ruta }}" alt="{{foto.nombre}}"
                            style="width: 100px; height: auto;">
                    </td>


                    {% endfor %}
                </tr>
            </table>
            {% endif %}
        </td>
    </tr>
</table>

<section>
    <h3>Deja tu comentaio</h3>
    {% if errores %}
    {% for e in errores %}
    <p style="color: red; background-color: yellow;">{{ e }}</p>
    {% endfor %}
    {% endif %}

    {% if mensajes %}
    {% for m in mensajes %}
    <p style="background-color: green;">{{ m }}</p>
    {% endfor %}
    {% endif %}

    <div id="val-box" hidden>
        <h2 id="val-msg">Errores:</h2>
        <ul id="val-list"></ul>
    </div>

    <form method="POST"  id="comentario-form">
        <input type="hidden" name="actividad_id" value="{{ actividad.id }}">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <textarea id="texto" name="texto" cols="50" rows="4" placeholder="Escriba su comentario..." required></textarea>
        <button type="button" onclick="validarFormulario()">Enviar</button>
    </form>


    <h3>Comentarios de la Actividad</h3>
    <!-- comentarios.append({
      'id': comentario.id,
      'nombre': comentario.nombre,
      'texto': comentario.texto,
      'fecha': comentario.fecha.strftime('%Y-%m-%d %H:%M:%S') -->
    <div id="comentarios_container">
        No hay comentarios para esta actividad.
        

        
    </div>




</section>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="cerrarModal()">&times;</span>
        <img class="modal-content" id="img01" src="js-a" alt="image-big">
    </div>

</div>
{% endblock %}
{% block js %}
<script src="{{url_for('static', filename='js/selectfoto.js')  }}"></script>
<script src="{{url_for('static', filename='js/comentarios.js')  }}"></script>
<script>
    obtener_comentarios()

    function validateNombre(nombre) {
        if (!nombre) return false;
        if (nombre.length < 3 || nombre.length > 80) {
            return false;
        }
        return true;
    }

    function validateTexto(texto) {
        if (!texto) return false;
        if (texto.length < 5 || texto.length > 1000) {
            return false;
        }
        return true;
    }
    
    function validarFormulario() {
        console.log("Validando formulario...");
        let myForm = document.getElementById('comentario-form');
        let nombre = myForm.nombre.value.trim();
        let texto = myForm.texto.value.trim();
        let actividadId = myForm.actividad_id.value;
        
        let valBox = document.getElementById('val-box');
        let valMsg = document.getElementById('val-msg');
        let valList = document.getElementById('val-list');

        
        valList.innerHTML = ""; // Limpiar la lista de errores
        valBox.hidden = false; // Mostrar el cuadro de validación  
        let errores = [];
        if (!validateNombre(nombre)) {
            errores.push("El nombre debe tener entre 3 y 80 caracteres.");
        }
        if (!validateTexto(texto)) {
            errores.push("El comentario debe tener entre 5 y 1000 caracteres.");
        }
        if (errores.length > 0) {
            errores.forEach(function(error) {
                let li = document.createElement('li');
                li.textContent = error;
                valList.appendChild(li);
            });
            return false; 
        } else {
            valBox.hidden = true; 
            data = {
                'actividad_id': actividadId,
                'nombre': nombre,
                'texto': texto
            };
            console.log("Agregar comentario:", data);
            agergar_comentario(data) // Enviar el formulario
        }
        
       
    }

    function limpiar_formulario() {
        document.getElementById('comentario-form').reset();
    }
</script>
{% endblock %}