{% extends "base.html" %}
{% block title %}Estadísticas de Actividades{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/estadisticas.css') }}">
{% endblock %}
{% block content %}
    <!-- 3 graficos: uno de lineas para informar la cantidad de actividades por dia, otro grafico de torta que muestra total de actividades por tipo, y el tercero uno de barras que muestra 3 barras por actividades qeu empiezan en la mañana,mediodia y tarde  -->
    <h1>Estadísticas de Actividades</h1>
    <p>Esta página muestra las estadísticas de las actividades registradas.</p>
    <section>

        <div>
            <h2>Cantidad de Actividades por Día</h2>
            <img src="{{url_for('static', filename='img/g-lineal.png')}}" alt="Gráfico de Líneas">
        </div>
        <div>
            <h2>Total de Actividades por Tipo</h2>
            <img src="{{url_for('static', filename='img/g-torta.png')}}" alt="Gráfico de Torta">
        </div>
        <div>
            <h2>Actividades por Horario</h2>
            <img src="{{url_for('static', filename='img/g-barra.png')}}" alt="Gráfico de Barras">
        </div>
    </section>

{% endblock %}